/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  display: flex;
}

/* LAYOUT */
.left {
  width: 15%;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.hero-section {
  width: 85%;
  padding: .8rem .8rem 1.5rem 0;
  flex-shrink: 2;
}

/* REUSEABLE / MODULE */

.invert {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.dflex {
  display: flex;
  gap: 2rem;
}

.grid {
  display: grid;
}

.grid-cols {
  grid-template-columns: repeat(7, 1fr  );
}

.grid-rows {
  grid-template-rows: repeat(3, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

a,
p {
  text-decoration: none;
  color: var(--fclr);
  font-size: 1.6rem;
}

/* THEME */
:root {
  --left-bar-clr: #121212;
  --right-selection-clr: #1e1e1e;
  --left-fclr: #b3b3b3;
  --fclr: #ffff;
  --right-upper-bar: #101010;
  --library-list: #1f1f1f;
  --blk-clr: #000;
}

/* STATE */
.upper .search:hover,
.lower .library:hover {
  color: white;

}

.card:hover {
  background-color: var(--right-selection-clr);

  &::after {
    opacity: 100%;
    bottom: 30%;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
  }

  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

/***** LEFT Section *****/
.upper,
.lower {
  background-color: var(--left-bar-clr);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: .9rem;
  padding: .8rem 1.2rem;
}

.upper {
  padding-top: 2.4rem;

  & a {
    font-weight: 600;
    padding: .4rem 1.2rem;
  }

  & .search {
    color: var(--left-fclr);
  }
}

.lower {
  padding-top: 1.4rem;
  height: calc(100vh - 18.1rem);

  & .library {
    font-weight: 600;
    padding: .4rem 1.2rem;
  }

  & .library {
    color: var(--left-fclr);

  }

  .content-div {
    height: 60%;
    margin-block: 4rem;
    background-color: var(--library-list);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  & .footer {

    & a {
      color: var(--left-fclr);
      font-weight: 300;
      margin-bottom: 1rem;
      font-size: 1.1rem;
    }
  }
}

.lower>.dflex {
  justify-content: space-between;
  align-items: center;
}

.lower>.library>.dflex {
  gap: 1rem;
}


/***** End LEFT Section *****/

/***** HERO Section *****/

/***** HERO NAV Section *****/

.hero-section .navigation {
  background-color: var(--left-bar-clr);
  padding: .9rem 1.8rem;
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;


  & .dflex {
    justify-content: space-between;
    align-items: center;

& img{
  width: 0;
  height: 0;
}
  }
}

/***** HERO NAV ARROW BTN Section *****/
.navigation .arrow-btn {
  width: 32px;
  height: 32px;
  padding: .8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--blk-clr);
  border: none;
  color: white;
}

/***** End HERO NAV ARROW BTN Section *****/
/***** SIGN IN AND LOG IN Section *****/

.navigation .register-btn {
  padding: .8rem 3.2rem;
  border-radius: 2rem;
  font-size: 1.6rem;

  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.fa-bars{
  display: none;
}

.hero-section .navigation .signin {
  color: var(--left-fclr);
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.hero-section .navigation .login {
  background-color: var(--fclr);
  color: var(--blk-clr);
  font-weight: 700;
  border: none;
}

/***** End SIGN IN AND LOG IN Section *****/
/***** End HERO NAV Section *****/

.hero-song--selection---area {
  background-image: linear-gradient(to bottom, var(--right-selection-clr), var(--blk-clr));
  height: calc(100vh - 18.2rem);
  padding: 2.4rem .6rem;
  overflow: auto;
}

.card {
  padding: 1.2rem;
  position: relative;

  & .card-img-container img {
    width: 100%;

  }

  & .title-song {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    padding-top: .9rem;
    letter-spacing: 130%;
  }

  & .artist-details {
    font-size: 1.350rem;
    color: var(--left-fclr);
    padding-top: .6rem;

  }
}

.card::after {
  opacity: 0;
  position: absolute;
  right: 15px;
  bottom: 29%;
  content: url(svg/playcircle.svg);
}

/***** SCROLL BAR IN HERO Section *****/

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
  /* width of the scrollbar */
  background-color: #1c1c1c;
  /* background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  /* color of the scrollbar thumb */
  border-radius: 10px;
  /* roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  /* color of the scrollbar thumb when hovered */
}


/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #1c1c1c;
}

/***** End SCROLL BAR IN HERO Section *****/


/***** PLAY BAR Section *****/

.section-playbar {
  width: 100%;

}

.play-line {
  padding: 0.5rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .duration-time {
    color: var(--fclr);
    font-size: 1.4rem;

    & .songTitle {
      width: 30%;
      text-align: center;
    }
  }

  & .circle {
    width: 0%;
    height: 5px;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    background-color: var(--blk-clr);
    position: relative;
    top: 2px;

    /* bottom: .5px; */
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }

  & .line {
    height: 9px;
    background-color: var(--fclr);
    padding-inline: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
  }

}

.play-line>.dflex {
  justify-content: space-between;
  align-items: center;
}

.section-playbar .play-control {
  padding: 1rem 0;

  & .grid {
    justify-items: center;

    & .play-main--controls {
      grid-column: 2/3;
    }

    & .dflex {
      gap: 20px;
    }
  }

  & .controlVolume {
    & .dflex {
      align-items: center;
      gap: 1rem;
    }

  


    & input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      background-color: #333;
      border-radius: 5px;
      outline: none;
      cursor: pointer;

      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
    }

    /* Thumb styling */
    & input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* Remove default styling */
      width: 16px;
      /* Slightly larger thumb width */
      height: 16px;
      /* Slightly larger thumb height */
      background-color: #fff;
      /* Light thumb color for contrast */
      border-radius: 50%;
      /* Make thumb circular */
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
      /* Soft shadow for depth */
      cursor: pointer;
      /* Pointer cursor on hover */
    }

    /* For Firefox */
    & input[type="range"]::-moz-range-thumb {
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
      cursor: pointer;
    }

    /* Track styling for Firefox */
    & input[type="range"]::-moz-range-track {
      width: 100%;
      height: 6px;
      background-color: #333;
      border-radius: 5px;
    }

    /* Track styling for IE */
    & input[type="range"]::-ms-track {
      width: 100%;
      height: 6px;
      background-color: transparent;
      border-color: transparent;
      border-width: 6px 0;
      color: transparent;
      cursor: pointer;
    }

    /* Thumb styling for IE */
    & input[type="range"]::-ms-thumb {
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
      cursor: pointer;
    }

    /* Style for range progress on dark theme */
    & input[type="range"]::-ms-fill-lower {
      background-color: #555;
      /* Darker color for the filled part */
    }

    & input[type="range"]::-ms-fill-upper {
      background-color: #333;
      /* Match with the unfilled part */
    }

  }


}

.valLabel{
  color: var(--fclr);
  font-size: 1.4rem;

}
.section-playbar>.dflex {
  justify-content: center;
  align-items: center;
}


.fa-solid  {
  font-size: 2.9rem;
  color: white;
}

.fa-pause {
  font-size: 3rem;
}
.fa-arrow-left{

  color: var(--left-fclr);
  display: none;
  visibility: hidden;
}

/***** End PLAY BAR Section *****/


/***** End HERO Section *****/

/***** LESS THEN 1500PX Section *****/ 

@media (width > 1250px) {
  .left{
    width: 15% !important;

     }
}

@media  (width < 1250px) {
 .fa-arrow-left{
  display: block;
  visibility: visible;
 }

  .left{
 width: 25%;
position: absolute;
z-index: 10;
 display: none;
 visibility: hidden;
  }
  .upper{
    border-radius:1rem 0 ;
    -webkit-border-radius:1rem 0 ;
    -moz-border-radius:1rem 0 ;
    -ms-border-radius:1rem 0 ;
    -o-border-radius:1rem 0 ;
}
.lower{
  border-radius: 0 1rem;
  -webkit-border-radius: 0 1rem;
  -moz-border-radius: 0 1rem;
  -ms-border-radius: 0 1rem;
  -o-border-radius: 0 1rem;
}
  .hero-section{
    width: 100%;
  }
  .fa-bars{
    display: block;
  }
 #heroSectionLogo {
 width: 8.8rem; 
 height: 3.9rem;
 } 
}


@media screen and (width < 1440px  ) and (  width > 1250px) {
  
  .grid-cols {
    grid-template-columns: repeat(6, 1fr);
  }
  
}
@media screen and (width < 1600px  ) {
  html{
    font-size: 50%;
  }
  .dflex{
    gap: 1rem;
  }
  .lower{
    height: calc(100vh - 19rem);
  }
  .footer {
    position: absolute;
    bottom: 2rem;
  }
}
@media (width < 1040px) {
 
  .grid-cols {
    grid-template-columns: repeat(5, 1fr);
  }

}
@media (width < 750px) {
  .grid-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  .plus-icon{
    display: none;
    visibility: hidden;
  }
  .left{
    width: 35%;
   position: absolute;
   z-index: 10;
    display: none;
    visibility: hidden;
     }
}
@media (width < 570px) {
  .grid-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .left{
    width: 40%;
   position: absolute;
   z-index: 10;
    display: none;
    visibility: hidden;
     }
}
@media (width < 400px) {
  .grid-cols {
    grid-template-columns: repeat(1, 1fr);
  }
  .left{
    width: 45%;
   position: absolute;
   z-index: 10;
    display: none;
    visibility: hidden;
     }
}
/***** End LESS THEN 1500PX Section *****/

/***** SlideBar Section *****/ 

/***** End SlideBar Section *****/
